.Button {
    background-color: transparent;
    text-align: center;
    border: solid #000 1px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.Button:first-of-type {
    margin-left: 0;
    /* padding-left: 0; */
}

.Button:disabled {
    color: #ccc;
    background: darkgrey;
    cursor: not-allowed;
}

.Button:hover {
    background-color: lightblue;
}

.Success {
    color: #5C9210;
}

.placeOrder {
    color: #fff;
    background-color: #074CB3;
}

.Danger {
    color: #944317;
}